<%= form_for(@event_type_answer_weight) do |f| %>
  <% if @event_type_answer_weight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_type_answer_weight.errors.count, "error") %> prohibited this event_type_answer_weight from being saved:</h2>

      <ul>
      <% @event_type_answer_weight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :potential_answer_id %><br>
    <%= f.text_field :potential_answer_id %>
  </div>
  <div class="field">
    <%= f.label :event_type_id %><br>
    <%= f.text_field :event_type_id %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
