<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_answer.user.email	 %>
</p>

<p>
  <strong>Question:</strong>
  <%= @user_answer.potential_answer.question.question %>
</p>

<p>
  <strong>Potential answer:</strong>
  <%= @user_answer.potential_answer.answer %>
</p>

<%= link_to 'Edit', edit_user_answer_path(@user_answer) %> |
<%= link_to 'Back', user_answers_path %>
