<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @event_type.Type %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @event_type.Parent %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event_type.Image %>
</p>

<%= link_to 'Edit', edit_event_type_path(@event_type) %> |
<%= link_to 'Back', event_types_path %>
