<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Event type</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Title</th>
      <th>Short review</th>
      <th>Long review</th>
      <th>Web site url</th>
      <th>Location lat</th>
      <th>Location long</th>
      <th>Address</th>
      <th>Spice</th>
      <th>Cost</th>
      <th>Recommender</th>
      <th>Image url</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.event_type %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.title %></td>
        <td><%= event.short_review %></td>
        <td><%= event.long_review %></td>
        <td><%= event.web_site_url %></td>
        <td><%= event.location_lat %></td>
        <td><%= event.location_long %></td>
        <td><%= event.address %></td>
        <td><%= event.spice %></td>
        <td><%= event.cost %></td>
        <td><%= event.recommender %></td>
        <td><%= event.image_url %></td>
        <td><%= event.comments %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
