<p id="notice"><%= notice %></p>

<p>
  <strong>Event Type Name:</strong>
  <%= @event_type.event_type_name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @event_type.parent %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @event_type.image_url(:thumb) if @event_type.image? %>
</p>

<%= link_to 'Edit', edit_event_type_path(@event_type) %> |
<%= link_to 'Back', event_types_path %>

<hr>

<ul class="nav pull-right">	
  <li><%= link_to "Home",         root_path %></li>
  <% if user_signed_in? %>
  <li><%= link_to "Profile", edit_user_registration_path %></li>
  <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
  <% else %>
  <li><%= link_to "Sign in", new_user_session_path %></li>
  <% end %>
</ul>
