<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @recommender.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @recommender.last_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recommender.descr %>
</p>

<%= link_to 'Edit', edit_recommender_path(@recommender) %> |
<%= link_to 'Back', recommenders_path %>

<hr>

<ul class="nav pull-right">	
  <li><%= link_to "Home",         root_path %></li>
  <% if user_signed_in? %>
  <li><%= link_to "Profile", edit_user_registration_path %></li>
  <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
  <% else %>
  <li><%= link_to "Sign in", new_user_session_path %></li>
  <% end %>
</ul>