<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @open_hour.event %>
</p>

<p>
  <strong>Day of the week:</strong>
  <%= @open_hour.day_of_the_week %>
</p>

<p>
  <strong>Open hour:</strong>
  <%= @open_hour.open_hour %>
</p>

<p>
  <strong>Close hour:</strong>
  <%= @open_hour.close_hour %>
</p>

<%= link_to 'Edit', edit_open_hour_path(@open_hour) %> |
<%= link_to 'Back', open_hours_path %>
